.qna {
	border-bottom: 0.794239px solid #DBDEF0;
	width: 100%;
	/* max-width: 00px; */
	padding-bottom: 2rem;
}

.qna--question {
	font-size: 1rem;
	font-weight: 700;
	padding: 0 0 1rem 0;
	margin: 0;
	color: #293264;
}

.qna--options {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.qna--option {
	padding: 0.55rem 0.75rem;
	width: fit-content;
	background-color: transparent;
	border: 1px solid #293264;
	border-radius: 8px;
	font-family: 'Montserrat', sans-serif;
	color: #293264;
	font-weight: 500;
	transition: 0.5s;
	cursor: pointer;
}

.qna--option-clicked {
	background-color: #D6DBF5;
	border-color: #D6DBF5;
}
