.question-container {
	border-bottom: 0.794239px solid #DBDEF0;
	width: 100%;
	/* max-width: 00px; */
	padding-bottom: 2rem;
}

.question {
	font-size: 1rem;
	font-weight: 700;
	padding: 0 0 1rem 0;
	margin: 0;
	color: #293264;
}

.options {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}
