.options {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.option {
	padding: 0.55rem 0.75rem;
	width: fit-content;
	background-color: transparent;
	border: 1px solid #293264;
	border-radius: 8px;
	font-family: 'Montserrat', sans-serif;
	color: #293264;
	font-weight: 500;
	transition: 0.5s;
	cursor: pointer;
}

.option-clicked {
	background-color: #D6DBF5;
	border-color: #D6DBF5;
}